@using Yamon.Framework.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="pragma" content="no-cache">
    <!-- HTTP 1.0 -->
    <meta http-equiv="cache-control" content="no-cache">
    <!-- Prevent caching at the proxy server -->
    <meta http-equiv="expires" content="0">
    <title>@ViewBag.Title</title>
    <link href="~/Static/jquery-weui-build/css/weui.css" rel="stylesheet" />
    <link href="~/Static/jquery-weui-build/css/jquery-weui.css" rel="stylesheet" />
    <link href="~/Static/jquery-weui-build/css/demos.css" rel="stylesheet" />
    <link href="~/Static/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Static/Home/css/Index1.css" rel="stylesheet" />
    <style>
        .shik {
            left: 10px;
            width: 30px;
            height: 25px;
            z-index: 9999;
            top: 10px;
            position: absolute;
            margin-left: 15px;
            font-family: "iconfont";
            font-size: 20px;
            font-style: normal;
            color: #fff;
            cursor: pointer;
            top: 6px !important;
        }
    </style>

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="weui_tab">
        @RenderPage("Top.cshtml")
        <div class="weui_tab_bd" style="height:86%;">
            <div class="center">
                @*<div class="" id="Index-left">

                        <ul class="nav nav-tabs" role="tablist" id="myTab" style="border:0px ;" data-bind='foreach: lines'>
                            <li role="presentation" class="Alert"><a data-bind="attr: {href:'#menu'+NodeID },text:NodeName" role="tab" data-toggle="tab"></a></li>

                        </ul>
                    </div>*@

                <div class="col-xs-12" id="Index-Content">
                    @RenderBody()
                </div>
            </div>
        </div>


        @RenderPage("Foot.cshtml")
    </div>
    <script src="~/Static/Home/js/jquery.min.js"></script>
    <script src="~/Static/jquery-weui-build/js/jquery-weui.js"></script>
    <script src="~/Static/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Static/knockout/knockout.js"></script>
    <script src="~/Static/Home/js/jquery.query.js"></script>
    <script src="~/Static/Home/js/public.js"></script>

    <script>
        var userId = @(CookieHelper.GetCookieInt("UserID"));
        var nodeId = 0;
        jQuery(function () {
            menu();
        })
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
